#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.displayAmount {
  display: block;
  margin: 2rem auto;
}
h2 {
  margin: 0;
}

input,
select {
  font-size: 1em;
  flex-grow: 2;
  padding: 5px;
}
